h1 {
    color: rgb(167, 144, 18);
    text-align: center;
}

ul li {
    color:blue;
    padding: 8px;
    margin-bottom: 5px;
}

ol li {
    width: 400px;
    background-color: lightgreen;
    border: 2px solid black;
    padding: 10px;
    margin: 0 auto;
}